<a class="pull-right" href="#/feeds">close</a>
<center>
  <label id="info" ng-bind="info"></label>
</center>
<center>
  <div id="bible" class="container-fluid">
  </div>
</center>
<center>
  <div class="toReveal" id="searchHeader">
    <div id="searchSummary">
      <span><strong>Search Results:</strong></span>
      <span>"{{searchItem}}"</span>
      <span id="count">{{searchResponse.hitCount}} hits; {{searchResponse.resultCount}} results<span>
    </div>
    <input ng-model="refine" type="text" placeholder="Filter search results" class="form-control toReveal">
  </div>
  <div id="search">
    <div id="searchListContainer">
      <dl ng-repeat="verse in searchResult | filter:refine">
        <dt>{{verse.title}}</dt>
        <dd>{{verse.preview}}</dd>
      </dl>
    </div>
  </div>
</center>