<center>
  <label id="postInfo" ng-bind="info"></label>
</center>
<div ng-init="showAllQuestions()">
  <span ng-show="currentUser" class="pull-right">Signed in as {{currentUser}} | <a ng-click="logout()" href="#/logout">Sign out</a></span>
  <span class="pull-right" ng-hide="currentUser">Guest | <a href="#/login"> login</a></span>
  <h3>
    Drop your questions <a href="#/post" title="Post question">here</a>
  </h3>
  <div id="filterBar">
    <input class="form-control" id="feedFilter" placeholder="Search with keywords" ng-model="refine">
  </div>
  <div id="feedContainer">
    <center>
      <img src="img/ajax_loader_small.gif" ng-hide="questions">
    </center>
    <div id="questionsContainer" ng-repeat="question in questions | filter:refine">
      <div class="question">
        <h4 ng-bind="question.content"></h4>
        <em>
          <span ng-hide="question.author == 'undefined'" ng-bind="question.author"></span><span>&nbspasked </span>
          <span> on </span><span ng-bind="question.posted | date:'medium'"></span>
        </em>
        <span ng-show="currentUser === question.author">
          <a ng-click="deleteQuestion(question._id)" title="Delete" href="">
            <img class="modify-img" src="./img/Delete_Icon.png">
          </a>
          <!-- <a title="Edit" href="">
            <img class="modify-img" src="../img/pensil.png">
          </a> -->
        </span>
        <div class="reviewDiv">
          <span class="btn btn-primary review">
            <a ng-click="storeId(question._id)" class="showAnswers" href="#/answers" title="View contributions">
              <span>contributions <span ng-show="question.answers > 0" ng-bind="question.answers" class="badge"></span></span>
            </a>
          </span>
        </div>
        <HR>
      </div>
    </div>
  </div>
</div>