<div class="jumbotron">
  <img src="./img/logonew.png">
  <h2>Welcome to Word Feeds!</h2>
  <p>It's good to have you here. If you have Bible questions, you can drop them <a href="#/post">here</a> - someone might just have the answer you need.<br>To read or search through the Bible anytime, navigate with the icons at the left side of the page.<br>If you are a registered user, you can <a href="#/login">login</a> to contribute answers to existing questions.</p>
  <p ><a class="btn btn-primary btn-lg" href="#/register" role="button">Register</a></p>
  <p>or you can <a href="#/feeds">continue</a> as a guest.</p>
  <p>Are you a registered user?</p>
  <p ><a class="btn btn-primary btn-lg" href="#/login" role="button">Sign in</a></p>
</div>