<div class="jumbotron homediv">
  <img class="img-responsive" src="./img/logonew.png" align="left">
  <h2>Welcome to Word Feeds!</h2>
  <p>Drop your Bible questions <a href="#/post">here</a> - someone might just have the answer you need.<br>
    Read or Search the <a class="btn btn-primary btn-lg homebtn" href="#/bible" role="button">Bible</a><br>
    <p>    
      <a class="btn btn-primary btn-lg homebtn" href="#/register" role="button">Sign up</a>
      <span>or <a href="#/feeds">view questions</a> as a guest.</span>
    </p>
    <p>Are you a registered user? <a class="btn btn-primary btn-lg homebtn" href="#/login" role="button">Sign in</a> here.</p>
  </p>
</div>