<div class="jumbotron">
  <img src="../img/logonew.png">
  <h1>Welcome to Word Feed</h1>
  <p>Here, you can easily read the Bible, make Bible searches, drop questions and get answers. If you are a registered user, you can <a href="sign in"></a> to contribute answers to existing questions.</p>
  <p ><a class="btn btn-primary btn-lg" href="#/register" role="button">Register</a></p>
  <p>or you can use the site as a guest.</p>
  <p>Are you a user?</p>
  <p ><a class="btn btn-primary btn-lg" href="#/login" role="button">Sign in</a></p>
</div>