<center>
  <label id="postInfo" ng-bind="info"></label>
</center>
<form ng-submit="postQuestion()" class="userForm">
  <h1>Post Question</h1>
  <div>
    <textarea required autofocus="autofocus" ng-model="questionContent" id="questionInput" class="form-control contribution"></textarea>
    <input type="email" required class="form-control" ng-model="author" placeholder="Enter your email here">
  </div>
  <!-- <input id="notify" type="checkbox" ng-checked=""><label for="notify"> Notify me when question is answered</label> -->
  <button id="submitQuestion" class="btn btn-default">Submit Question</button>
</form>
  